
{:pom {:group-id "respo",
       :artifact-id "reel",
       :version "0.3.5-a2",
       :name "Time travel demo for Respo"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
