{
  :source-paths ["src" "cli"]
  :cache-blockers #{cumulo-util.build}
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [mvc-works/shell-page "0.1.13"]
    [respo "0.12.3"]
    [respo/ui "0.3.15-a1"]
    [respo/value "0.3.0"]
    [cumulo/util "0.1.12"]
    [cirru/edn "0.0.9"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :client {
      :target :browser, :output-dir "target/", :asset-path "./"
      :modules {
        :client {:init-fn reel.main/main!}
      }
      :devtools {:after-load reel.main/reload!}
      :release {
        :output-dir "dist/", :module-hash-names 8
        :build-options {:manifest-name "assets.edn"}
      }
    }
    :page {
      :target :node-script, :output-to "target/page.js", :main reel.page/main!
      :devtools {:after-load reel.page/main!}
    }
    :upload {
      :target :node-script, :output-to "target/upload.js", :main reel.upload/main!
      :devtools {:after-load reel.upload/main!}
    }
  }
}